<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panthelope.duphluxlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <activity
            android:label="Authenticate Your Number"
            android:name=".activity.AuthenticateActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:label="Authenticate Number"
            android:name=".activity.DuphluxPopupActivity"
            android:excludeFromRecents="true"></activity>
    </application>

</manifest>